
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,600;1,400;1,600&family=Poppins:wght@400;500;600;700&display=swap');



*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: #547274;
}

header nav ul{
    display: flex;
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-left: 50px;
}

header nav ul li a:hover{
    color: #cac9c9;
}


/* Intro */
section .hero_section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.hero_section .shapes_animation {
    display: flex;
    position: relative;
}

.hero_section .circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #547274;
    margin: 20px;

    transition: transform 1s ease-in-out;
}
