
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,600;1,400;1,600&family=Poppins:wght@400;500;600;700&display=swap');



*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;

}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: #547274;
}

header nav ul{
    display: flex;
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-left: 50px;
}

header nav ul li a:hover{
    color: #cac9c9;
}


/* Intro */
section .hero_section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.hero_section .shapes_animation {
    display: flex;
    position: relative;
}

.hero_section .circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #547274;
    margin: 20px;

    transition: transform 1s ease-in-out;
}


/* Scroll Animation In */
section .scroll_animation_in {
    height: 100vh;
    display: flex;
    padding: 0 50px;
    margin-top: 100px;
}
.box_animation {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    flex: 0.5;
    padding: 50px;
}
.box_animation .box{
    height: 200px;
    width: 200px;
    background-color: #547274;
}

.chart_animation{
    display: flex;
    flex-direction: column;
    flex: 0.5;

}

.chart_animation h1{
    font-size: 40px;
}

.chart-container {
    display: flex;
}

.chart-bar{
    height: 500px;
    width: 50px;
    transform: rotate(180deg);
    margin-right: 20px
}

.chart-per{
    width: 50px;
    background-color: #547274;
    height: 0;
    transition: 1s linear;
    position: relative;

}


/* Scroll Around */
section .scroll_around_animation {
    height: 100vh;
    display: flex;

}

.grid_box_animation{
    display: flex;
    flex-direction: column;
    margin:0px 60px;

}

.grid_box_animation h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.rounded_box_container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 20px;
}

.rounded_box {
    height: 70px;
    width: 80px;
    background-color: #547274;
    border-radius: 25%;
}

.bottom_rounded_box {
    display: flex;

}
.bottom_rounded_box .rounded_box{
    margin-right: 20px;
    margin-top: 20px;
}
.bottom_rounded_box .rounded_box:nth-child(1){
    height: 110px;
    width: 110px;
    border-radius: 35%;
    background-color: #3FE3B2;
}
.bottom_rounded_box .rounded_box:nth-child(2){
    height: 110px;
    width: 150px;
    border-radius: 35%;
    background-color: #3FE3B2;
}
.bottom_rounded_box .rounded_box:nth-child(3){
    height: 110px;
    width: 210px;
    border-radius: 25%;
    background-color: #92BCFC;
}


.circle_animation{
        flex: 0.5;
        margin-left: 100px;
        padding: 50px;
}

#circle1_3 {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: #92BCFC;
    position: absolute;

}

#circle2_3 {
    height: 90px;
    width:  90px;
    background-color: #749BFF;
    position: absolute;
    transform: translate(-30px, -50px);
    border-radius: 50%;
}

#circle3_3 {
    height: 90px;
    width:  90px;
    background-color: #3FE3B2;
    position: absolute;
    transform: translate(-100px, 100px);
    border-radius: 50%;
}

#circle4_3 {
    height: 90px;
    width:  90px;
    background-color: #68F6FF;
    position: absolute;
    transform: translate(50px, 300px);
    border-radius: 50%;
}

#circle5_3 {
    height: 90px;
    width:  90px;
    background-color: #55EA87;
    position: absolute;
    transform: translate(250px, 200px);
    border-radius: 50%;
}

#circle6_3 {
    height: 90px;
    width:  90px;
    background-color: #C971FF;
    position: absolute;
    transform: translate(220px, -70px);
    border-radius: 50%;
}
